<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Fontawesome Link -->
        <script src="https://kit.fontawesome.com/5b6cc4e492.js" crossorigin="anonymous"></script>
        <!-- End of Fontawesome link -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap" rel="stylesheet"> 
    
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/small.css">
        <link rel="stylesheet" href="css/medium.css">
        <link rel="stylesheet" href="css/large.css">
    
        <title>Home | My Resume</title>
</head>
<body>
    
    <nav >
        <div class="limited">
            <div class="navbar">
                <!-- <button id="hamburgerBtn">&#9776</button> -->
                <div>
                    <span class="heading">N.C. Alvan</span>
                </div>
                <ul id="primaryNav ">
                    <li class=""><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#skills">Skills </a></li>
                <li><a href="#services">Services </a></li>
                <li><a href="#contact">Contact </a></li>
                <li><a href="#experinces">Experience </a></li>
                </ul>
            </div>
            
            
        </div>
    </nav>
    <main class="container">
        <div class="  row limited">
            <section class=" mt-2 column small-12 medium-6">
                    <div class="hero-icons">
                        <div class="hero-icon">
                            <a href=""><i class="fab fa-github"></i></a>
                        </div>
                        <div class="hero-icon">
                            <a href=""><i class="fab fa-linkedin"></i></a>
                        </div>
                        <div class="hero-icon">
                            
                                <a href=""><i class="fab fa-twitter"></i></a>
                            
                        </div>
                        <div class="hero-icon">
                            
                                <a href=""><i class="fab fa-facebook"></i></a>
                            
                        </div>
                        
                        
                    </div>
                    <div>
                        <div class="title">
                            <h1 c>I am N.C. Alvan </h1>
                        </div>
                        <div class="subtitle mt-2">
                            <h2>Professional Full-Stack Web Developer </h2>
                        </div>
                        <div class="availiable mt-3 mb-3">
                            <h3>Frelance &nbsp; <i class="fas fa-check fs-6 text-main-2"></i></h3>
                            <h3>Available &nbsp; <i class="fas fa-check fs-6 text-main-2"></i> </h3>
                        </div>
                        <div class="contact mb-2 mr-2">
                            <a href="">Contact Me</a>
                        </div>
                    </div>
                
              
            </section>
            <section class="column small-12 medium-6">
                <div class="description">

                    <div>
                        <img src="images/profile-1.jpg" alt="">
                    </div>
                  <div class="location">
                      <div class="location-items">
                        <h3>Residence:  </h3>
                        <h3>Nigeria </h3>
                      </div>
                      <div class="location-items">
                        <h3>City:  </h3>
                        <h3>Lagos </h3>
                      </div>
                  </div>
                </div>
            </section>
        </div><!--end of row-->
        <div class="bg-main">

       
            <div class="row limited">
                <section class="column small-12 bg-main">
                    <div class="services ">
                        <div class="service-heading" id="services">
                            <h6>Services</h6>
                        </div>
                        <div class="service-heading">
                           <h3>My Service</h3>
                        </div>
                        <div class="service-heading">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis enim quis nobis quod laborum porro ullam autem odit eveniet omnis.</p>
                        </div>
                    </div>
                </section>
                
                
            </div><!--end of row-->
            
            <div class="container bg-main limited">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4 ">
                        <div class="service-body">

                            <div class="service">
                                <div class="service-icon p-2">
                                    <i class="fas fa-globe"></i>
                                </div >
                                <div class='service-title p-2'>

                                    <h3>Full-Stack Web&nbsp;Development</h3>
                                </div>
                                <p class="service-desc p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dicta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="service-body">

                            <div class="service">
                                <div class="service-icon p-2 ">
                                    <i class="fab fa-figma"></i>
                                </div >
                                <div class='service-title p-2'>

                                    <h3>Frontend and UI Designs of Websites</h3>
                                </div>
                                <p class="service-desc p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dicta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="service-body">

                            <div class="service">
                                <div class="service-icon p-2">
                                    <i class="fas fa-database"></i>
                                </div >
                                <div class='service-title p-2'>

                                    <h3>Backend APIs and Business Logics</h3>
                                </div>
                                <p class="service-desc p-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="container bg-main limited" id="skills">
                <h3 class="skills-heading">Skills</h3>
                <div class="row">

                    <div class="col-sm-12 col-md-6 ">
                        <div class="skills">
                            <h2 >Top Skills</h2>
                            <div class="skill">
                                <ul>
                                    
                                    <li class="mt-3">
                                        <div><span class="text-light">HTML</span></div>
                                        <div class="progress bg-main-1">
                                            <div class="progress-bar progress-main" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>95%</span></div>
                                          </div>
                                    </li>
                                    <li class="mt-3">
                                        <div><span class="text-light">CSS</span></div>
                                        <div class="progress bg-main-1">
                                            <div class="progress-bar progress-main" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                                          </div>
                                    </li>
                                    <li class="mb-3">
                                        <div><span class="text-light">JavaScript</span></div>
                                        <div class="progress bg-main-1">
                                            <div class="progress-bar progress-main" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>80%</span></div>
                                          </div>
                                    </li>
                                    <li>
                                        <div><span class="text-light">Git</span></div>
                                        <div class="progress bg-main-1">
                                            <div class="progress-bar progress-main" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>75%</span></div>
                                          </div>
                                    </li>
                                    <li class="mt-3">
                                        <div><span class="text-light">Python</span></div>
                                        <div class="progress bg-main-1">
                                            <div class="progress-bar progress-main" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                                          </div>
                                    </li>
                                    <li>
                                        <div><span class="text-light">Java</span></div>
                                        <div class="progress bg-main-1">
                                            <div class="progress-bar progress-main" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>20%</span></div>
                                          </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class=" skills">
                            <h2>Frameworks & Libraries</h2>
                            <div>
                                <ul class="mt-3">
                                    <li class="mb-3 fs-5 text-main-1"><span><i class="fas fa-check text-main-2"></i></span> Reactjs and Nextjs</li>
                                    <li class="mb-3 fs-5 text-main-1"><span><i class="fas fa-check text-main-2"></i></span> Nodejs and  Expressjs</li>
                                    <li class="mb-3 fs-5 text-main-1 mr-2"><span><i class="fas fa-check text-main-2"></i></span> Django</li>
                                    <li class="mb-3 fs-5 text-main-1"><span><i class="fas fa-check text-main-2"></i></span> MongoDB and PostgreSQL</li>
                                    <li class="mb-3 fs-5 text-main-1"><span><i class="fas fa-check text-main-2"></i></span> BootStrap and Tailwind CSS</li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Experinces -->
            <div class="container bg-main limited" id="experinces">
                <div class="row">
                    <div class="experinces">
                        <h2>Experinces</h2>
                        <div class="col-sm-12 ">
                            <div class="experience">
                                <div class="workplace">
                                    <img src="images/hng8.jpg" alt="">
                                    <div class="worktitle">
                                        <h3><a href="https://internship.zuri.team/" target="='_blank">HNG8 Internship</a> </h3>
                                        <h5>August - Present</h5>
                                    </div>
                                </div>
                                    <div class="workdesc">
                                        <h6>Work Description</h6>
                                        <ul>
                                            <li>Development web backend APIs</li>
                                            <li>Development of server-side appliactions</li>
                                            <li>Development and maintenance of web applications</li>
                                            <li>CI/CD</li>
                                        </ul>
                                    </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-sm-12 ">
                            <div class="experience">
                                <div class="workplace">
                                    <img src="images/zuri.jpeg" alt="">
                                    <div class="worktitle">
                                        <h3><a href="https://training.zuri.team/" target="_blank">Zuri Internship</a></h3>
                                        <h5>May - July</h5>
                                    </div>
                                </div>
                                    <div class="workdesc">
                                        <h6>Work Description</h6>
                                        <ul>
                                            <li>Development web backend APIs</li>
                                            <li>Development of server-side appliactions</li>
                                            <li>Development and maintenance of web applications</li>
                                            <li>CI/CD</li>
                                        </ul>
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container  limited mt-4" id="contact">
                    <div class="services">
                        <h2 class="text-light ">Contact Me</h2>
                    </div>
                    <form action="/" method="POST">

                        <div class="row p-3">
                            
                        <div class="col-sm-12 col-md-6 mb-2">
                            <label for="fistName" class="form-label text-light">First Name</label>
                          <input type="text" required name='fistName' class="form-control bg-main-1" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col-sm-12 col-md-6 mb-2 ">
                            <label for="lastName" class="form-label text-light">Last Name</label>
                          <input type="text" required name='lastName' class="form-control bg-main-1" placeholder="Last name" aria-label="Last name">
                        </div>
                        <div class="col-sm-12 col-md-6 mb-2">
                            <label for="subject" class="form-label text-light">Subject </label>
                          <input type="text" required name="subject" class="form-control bg-main-1" placeholder="Subject" aria-label="First name">
                        </div>
                        <div class="col-sm-12 col-md-6 mb-2">
                            <label for="email" class="form-label text-light">Email</label>
                          <input type="email" required name='email' class="form-control bg-main-1" placeholder="Email" aria-label="Last name">
                        </div>
                        <div class="col-sm-12 col-md-6 ">
                            <label for="message" class="form-label text-light">Message</label>
                          <textarea type="text" required name="message" class="form-control p-4 bg-main-1" placeholder="Text Your Message Here" cols="2"  aria-label="Last name"></textarea>
                        </div>
                        <div class="col-sm-12 mt-3 ">
                           <button type="submit" class="btn btn-secondary ">Submit</button>
                        </div>
                    </div>  
                    </form>
                
            </div>
        </div>
        

    </div>
        
    </main>
    <footer class="container">
        <div class="row">

        </div>

    </footer>

</body>
</html>